/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-zindex9999{
	z-index: 99999;
}
.img-responsive {
display: block;
height: auto;
max-width: 100%;
}
.triangle-down{
	  width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
.f-fbn{
	border: none!important;
}
.f-marginno{
	margin: 0 0!important;
}


@-webkit-keyframes rotating {
	from {
	-webkit-transform:rotate(0deg)
}
to {
	-webkit-transform:rotate(360deg)
}
}@keyframes rotating {
	from {
	transform:rotate(0deg)
}
to {
	transform:rotate(360deg)
}
}@-moz-keyframes rotating {
	from {
	-moz-transform:rotate(0deg)
}
to {
	-moz-transform:rotate(360deg)
}
}
@-webkit-keyframes start {
	0%,30% {
	opacity:0;
	-webkit-transform:translate(0,10px)
}
60% {
	opacity:1;
	-webkit-transform:translate(0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate(0,-8px)
}
}
@-moz-keyframes start {
	0%,30% {
	opacity:0;
	-moz-transform:translate(0,10px)
}
60% {
	opacity:1;
	-moz-transform:translate(0,0)
}
100% {
	opacity:0;
	-moz-transform:translate(0,-8px)
}
}@keyframes start {
	0%,30% {
	opacity:0;
	transform:translate(0,10px)
}
60% {
	opacity:1;
	transform:translate(0,0)
}
100% {
	opacity:0;
	transform:translate(0,-8px)
}
}
@-webkit-keyframes start {
	0%,30% {
	opacity:0;
	-webkit-transform:translate(0,10px)
}
60% {
	opacity:1;
	-webkit-transform:translate(0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate(0,-8px)
}
}@-moz-keyframes start {
	0%,30% {
	opacity:0;
	-moz-transform:translate(0,10px)
}
60% {
	opacity:1;
	-moz-transform:translate(0,0)
}
100% {
	opacity:0;
	-moz-transform:translate(0,-8px)
}
}@keyframes start {
	0%,30% {
	opacity:0;
	transform:translate(0,10px)
}
60% {
	opacity:1;
	transform:translate(0,0)
}
100% {
	opacity:0;
	transform:translate(0,-8px)
}
}
@-webkit-keyframes rightflip {
	0%,30% {
	opacity:0;
	-webkit-transform:translate(10,0)
}
60% {
	opacity:1;
	-webkit-transform:translate(0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate(-8px,0)
}
}@-moz-keyframes rightflip {
	0%,30% {
	opacity:0;
	-moz-transform:translate(10,0)
}
60% {
	opacity:1;
	-moz-transform:translate(0,0)
}
100% {
	opacity:0;
	-moz-transform:translate(-8px,0)
}
}@keyframes rightflip {
	0%,30% {
	opacity:0;
	transform:translate(10,0)
}
60% {
	opacity:1;
	transform:translate(0,0)
}
100% {
	opacity:0;
	transform:translate(-8px,0)
}
}
@-webkit-keyframes rollIn {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
	transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes rollIn {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
	transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}
@-webkit-keyframes lightSpeedIn {
	0% {
	-webkit-transform:translate3d(100%,0,0) skewX(-30deg);
	transform:translate3d(100%,0,0) skewX(-30deg);
	opacity:0
}
60% {
	-webkit-transform:skewX(20deg);
	transform:skewX(20deg);
	opacity:1
}
80% {
	-webkit-transform:skewX(-5deg);
	transform:skewX(-5deg);
	opacity:1
}
100% {
	-webkit-transform:none;
	transform:none;
	opacity:1
}
}@keyframes lightSpeedIn {
	0% {
	-webkit-transform:translate3d(100%,0,0) skewX(-30deg);
	transform:translate3d(100%,0,0) skewX(-30deg);
	opacity:0
}
60% {
	-webkit-transform:skewX(20deg);
	transform:skewX(20deg);
	opacity:1
}
80% {
	-webkit-transform:skewX(-5deg);
	transform:skewX(-5deg);
	opacity:1
}
100% {
	-webkit-transform:none;
	transform:none;
	opacity:1
}
}
@-webkit-keyframes fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes fadeInLeft {
	0% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}
@-webkit-keyframes fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	transform:none
}
}@keyframes fadeInRight {
	0% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}
@-webkit-keyframes fadeInUp {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:0.4;
	-webkit-transform:none;
	transform:none
}
}
@keyframes fadeInUp {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	-ms-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:0.4;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}
@-webkit-keyframes fadeInUpa {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}
@keyframes fadeInUpa {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	-ms-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}
@-webkit-keyframes fadeOutDown {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
}@keyframes fadeOutDown {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0)
}
}
@-webkit-keyframes fadeOutLeft {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
}@keyframes fadeOutLeft {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0)
}
}
@-webkit-keyframes fadeOutRight {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
}@keyframes fadeOutRight {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}
}.fadeOutRight {
	-webkit-animation-name:fadeOutRight;
	animation-name:fadeOutRight
}
@-webkit-keyframes fadeOutUp {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
}@keyframes fadeOutUp {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
}
.fadeOutUp {
	-webkit-animation-name:fadeOutUp;
	animation-name:fadeOutUp
}
@-webkit-keyframes swing {
	20% {
	-webkit-transform:rotate3d(0,0,1,15deg);
	transform:rotate3d(0,0,1,15deg)
}
40% {
	-webkit-transform:rotate3d(0,0,1,-10deg);
	transform:rotate3d(0,0,1,-10deg)
}
60% {
	-webkit-transform:rotate3d(0,0,1,5deg);
	transform:rotate3d(0,0,1,5deg)
}
80% {
	-webkit-transform:rotate3d(0,0,1,-5deg);
	transform:rotate3d(0,0,1,-5deg)
}
100% {
	-webkit-transform:rotate3d(0,0,1,0deg);
	transform:rotate3d(0,0,1,0deg)
}
}@keyframes swing {
	20% {
	-webkit-transform:rotate3d(0,0,1,15deg);
	transform:rotate3d(0,0,1,15deg)
}
40% {
	-webkit-transform:rotate3d(0,0,1,-10deg);
	transform:rotate3d(0,0,1,-10deg)
}
60% {
	-webkit-transform:rotate3d(0,0,1,5deg);
	transform:rotate3d(0,0,1,5deg)
}
80% {
	-webkit-transform:rotate3d(0,0,1,-5deg);
	transform:rotate3d(0,0,1,-5deg)
}
100% {
	-webkit-transform:rotate3d(0,0,1,0deg);
	transform:rotate3d(0,0,1,0deg)
}
}.swing {
	-webkit-transform-origin:top center;
	-ms-transform-origin:top center;
	transform-origin:top center;
	-webkit-animation-name:swing;
	animation-name:swing
}
@-webkit-keyframes wobble {
	0% {
	-webkit-transform:none;
	transform:none
}
15% {
	-webkit-transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
	transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
}
30% {
	-webkit-transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg);
	transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)
}
45% {
	-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
	transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
}
60% {
	-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg);
	transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)
}
75% {
	-webkit-transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
	transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)
}
100% {
	-webkit-transform:none;
	transform:none
}
}@keyframes wobble {
	0% {
	-webkit-transform:none;
	transform:none
}
15% {
	-webkit-transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
	transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
}
30% {
	-webkit-transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg);
	transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)
}
45% {
	-webkit-transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
	transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
}
60% {
	-webkit-transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg);
	transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)
}
75% {
	-webkit-transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
	transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)
}
100% {
	-webkit-transform:none;
	transform:none
}
}.wobble {
	-webkit-animation-name:wobble;
	animation-name:wobble
}
@-webkit-keyframes rotateIn {
	from {
	-webkit-transform:rotate(0deg)
}
to {
	-webkit-transform:rotate(360deg)
}
}@-moz-keyframes rotateIn {
	from {
	-moz-transform:rotate(0deg)
}
to {
	-moz-transform:rotate(359deg)
}
}@-o-keyframes rotateIn {
	from {
	-o-transform:rotate(0deg)
}
to {
	-o-transform:rotate(359deg)
}
}@keyframes rotateIn {
	from {
	transform:rotate(0deg)
}
to {
	transform:rotate(359deg)
}
}.rotateIn {
	-webkit-animation-name:rotateIn;
	animation-name:rotateIn
}
@-webkit-keyframes fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@keyframes fadeOut {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}.fadeOut {
	-webkit-animation-name:fadeOut;
	animation-name:fadeOut
}
@-webkit-keyframes flip {
	0% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,-360deg);
	transform:perspective(400px) rotate3d(0,1,0,-360deg);
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out
}
40% {
	-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
	transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out
}
50% {
	-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
	transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
80% {
	-webkit-transform:perspective(400px) scale3d(.95,.95,.95);
	transform:perspective(400px) scale3d(.95,.95,.95);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
100% {
	-webkit-transform:perspective(400px);
	transform:perspective(400px);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
}@keyframes flip {
	0% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,-360deg);
	transform:perspective(400px) rotate3d(0,1,0,-360deg);
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out
}
40% {
	-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
	transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out
}
50% {
	-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
	transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
80% {
	-webkit-transform:perspective(400px) scale3d(.95,.95,.95);
	transform:perspective(400px) scale3d(.95,.95,.95);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
100% {
	-webkit-transform:perspective(400px);
	transform:perspective(400px);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
}.animated.flip {
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
	-webkit-animation-name:flip;
	animation-name:flip
}
@-webkit-keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	transform:none
}
}@keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translate3d(0,-100%,0);
	-ms-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
}
100% {
	opacity:1;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}.fadeInDown {
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown
}
@-webkit-keyframes fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@keyframes fadeIn {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}.fadeIn {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}
@-webkit-keyframes zoomIn {
	0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
50% {
	opacity:1
}
}@keyframes zoomIn {
	0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
50% {
	opacity:1
}
}.zoomIn {
	-webkit-animation-name:zoomIn;
	animation-name:zoomIn
}
@-webkit-keyframes zoomOut {
	0% {
	opacity:1
}
50% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
100% {
	opacity:0
}
}@keyframes zoomOut {
	0% {
	opacity:1
}
50% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
100% {
	opacity:0
}
}.zoomOut {
	-webkit-animation-name:zoomOut;
	animation-name:zoomOut
}
@-webkit-keyframes bounceIn {
	0%,20%,40%,60%,80%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
20% {
	-webkit-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
40% {
	-webkit-transform:scale3d(.9,.9,.9);
	transform:scale3d(.9,.9,.9)
}
60% {
	opacity:1;
	-webkit-transform:scale3d(1.03,1.03,1.03);
	transform:scale3d(1.03,1.03,1.03)
}
80% {
	-webkit-transform:scale3d(.97,.97,.97);
	transform:scale3d(.97,.97,.97)
}
100% {
	opacity:1;
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}@keyframes bounceIn {
	0%,20%,40%,60%,80%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
20% {
	-webkit-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
40% {
	-webkit-transform:scale3d(.9,.9,.9);
	transform:scale3d(.9,.9,.9)
}
60% {
	opacity:1;
	-webkit-transform:scale3d(1.03,1.03,1.03);
	transform:scale3d(1.03,1.03,1.03)
}
80% {
	-webkit-transform:scale3d(.97,.97,.97);
	transform:scale3d(.97,.97,.97)
}
100% {
	opacity:1;
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}.bounceIn {
	-webkit-animation-name:bounceIn;
	animation-name:bounceIn
}
@-webkit-keyframes bounceInLeft {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(-3000px,0,0);
	transform:translate3d(-3000px,0,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(25px,0,0);
	transform:translate3d(25px,0,0)
}
75% {
	-webkit-transform:translate3d(-10px,0,0);
	transform:translate3d(-10px,0,0)
}
90% {
	-webkit-transform:translate3d(5px,0,0);
	transform:translate3d(5px,0,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}@keyframes bounceInLeft {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(-3000px,0,0);
	transform:translate3d(-3000px,0,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(25px,0,0);
	transform:translate3d(25px,0,0)
}
75% {
	-webkit-transform:translate3d(-10px,0,0);
	transform:translate3d(-10px,0,0)
}
90% {
	-webkit-transform:translate3d(5px,0,0);
	transform:translate3d(5px,0,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}.bounceInLeft {
	-webkit-animation-name:bounceInLeft;
	animation-name:bounceInLeft
}
@-webkit-keyframes bounceInRight {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(3000px,0,0);
	transform:translate3d(3000px,0,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(-25px,0,0);
	transform:translate3d(-25px,0,0)
}
75% {
	-webkit-transform:translate3d(10px,0,0);
	transform:translate3d(10px,0,0)
}
90% {
	-webkit-transform:translate3d(-5px,0,0);
	transform:translate3d(-5px,0,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}@keyframes bounceInRight {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(3000px,0,0);
	transform:translate3d(3000px,0,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(-25px,0,0);
	transform:translate3d(-25px,0,0)
}
75% {
	-webkit-transform:translate3d(10px,0,0);
	transform:translate3d(10px,0,0)
}
90% {
	-webkit-transform:translate3d(-5px,0,0);
	transform:translate3d(-5px,0,0)
}
100% {
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
}
}.bounceInRight {
	-webkit-animation-name:bounceInRight;
	animation-name:bounceInRight
}
@-webkit-keyframes bounceInUp {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,3000px,0);
	transform:translate3d(0,3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,-25px,0);
	transform:translate3d(0,-25px,0)
}
75% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
90% {
	-webkit-transform:translate3d(0,-5px,0);
	transform:translate3d(0,-5px,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}@keyframes bounceInUp {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,3000px,0);
	transform:translate3d(0,3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,-25px,0);
	transform:translate3d(0,-25px,0)
}
75% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
90% {
	-webkit-transform:translate3d(0,-5px,0);
	transform:translate3d(0,-5px,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}.bounceInUp {
	-webkit-animation-name:bounceInUp;
	animation-name:bounceInUp
}
@-webkit-keyframes bounceInDown {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,-3000px,0);
	transform:translate3d(0,-3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,25px,0);
	transform:translate3d(0,25px,0)
}
75% {
	-webkit-transform:translate3d(0,-10px,0);
	transform:translate3d(0,-10px,0)
}
90% {
	-webkit-transform:translate3d(0,5px,0);
	transform:translate3d(0,5px,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}@keyframes bounceInDown {
	0%,60%,75%,90%,100% {
	-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);
	transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)
}
0% {
	opacity:0;
	-webkit-transform:translate3d(0,-3000px,0);
	transform:translate3d(0,-3000px,0)
}
60% {
	opacity:1;
	-webkit-transform:translate3d(0,25px,0);
	transform:translate3d(0,25px,0)
}
75% {
	-webkit-transform:translate3d(0,-10px,0);
	transform:translate3d(0,-10px,0)
}
90% {
	-webkit-transform:translate3d(0,5px,0);
	transform:translate3d(0,5px,0)
}
100% {
	-webkit-transform:none;
	transform:none
}
}.bounceInDown {
	-webkit-animation-name:bounceInDown;
	animation-name:bounceInDown
}
@-webkit-keyframes bounceOut {
	20% {
	-webkit-transform:scale3d(.9,.9,.9);
	transform:scale3d(.9,.9,.9)
}
50%,55% {
	opacity:1;
	-webkit-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
100% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
}@keyframes bounceOut {
	20% {
	-webkit-transform:scale3d(.9,.9,.9);
	transform:scale3d(.9,.9,.9)
}
50%,55% {
	opacity:1;
	-webkit-transform:scale3d(1.1,1.1,1.1);
	transform:scale3d(1.1,1.1,1.1)
}
100% {
	opacity:0;
	-webkit-transform:scale3d(.3,.3,.3);
	transform:scale3d(.3,.3,.3)
}
}.bounceOut {
	-webkit-animation-name:bounceOut;
	animation-name:bounceOut
}
@-webkit-keyframes bounceOutDown {
	20% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
40%,45% {
	opacity:1;
	-webkit-transform:translate3d(0,-20px,0);
	transform:translate3d(0,-20px,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,2000px,0);
	transform:translate3d(0,2000px,0)
}
}@keyframes bounceOutDown {
	20% {
	-webkit-transform:translate3d(0,10px,0);
	transform:translate3d(0,10px,0)
}
40%,45% {
	opacity:1;
	-webkit-transform:translate3d(0,-20px,0);
	transform:translate3d(0,-20px,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,2000px,0);
	transform:translate3d(0,2000px,0)
}
}.bounceOutDown {
	-webkit-animation-name:bounceOutDown;
	animation-name:bounceOutDown
}
@-webkit-keyframes bounceOutLeft {
	20% {
	opacity:1;
	-webkit-transform:translate3d(20px,0,0);
	transform:translate3d(20px,0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-2000px,0,0);
	transform:translate3d(-2000px,0,0)
}
}@keyframes bounceOutLeft {
	20% {
	opacity:1;
	-webkit-transform:translate3d(20px,0,0);
	transform:translate3d(20px,0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(-2000px,0,0);
	transform:translate3d(-2000px,0,0)
}
}.bounceOutLeft {
	-webkit-animation-name:bounceOutLeft;
	animation-name:bounceOutLeft
}
@-webkit-keyframes bounceOutRight {
	20% {
	opacity:1;
	-webkit-transform:translate3d(-20px,0,0);
	transform:translate3d(-20px,0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(2000px,0,0);
	transform:translate3d(2000px,0,0)
}
}@keyframes bounceOutRight {
	20% {
	opacity:1;
	-webkit-transform:translate3d(-20px,0,0);
	transform:translate3d(-20px,0,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(2000px,0,0);
	transform:translate3d(2000px,0,0)
}
}.bounceOutRight {
	-webkit-animation-name:bounceOutRight;
	animation-name:bounceOutRight
}
@-webkit-keyframes bounceOutUp {
	20% {
	-webkit-transform:translate3d(0,-10px,0);
	transform:translate3d(0,-10px,0)
}
40%,45% {
	opacity:1;
	-webkit-transform:translate3d(0,20px,0);
	transform:translate3d(0,20px,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-2000px,0);
	transform:translate3d(0,-2000px,0)
}
}@keyframes bounceOutUp {
	20% {
	-webkit-transform:translate3d(0,-10px,0);
	transform:translate3d(0,-10px,0)
}
40%,45% {
	opacity:1;
	-webkit-transform:translate3d(0,20px,0);
	transform:translate3d(0,20px,0)
}
100% {
	opacity:0;
	-webkit-transform:translate3d(0,-2000px,0);
	transform:translate3d(0,-2000px,0)
}
}.bounceOutUp {
	-webkit-animation-name:bounceOutUp;
	animation-name:bounceOutUp
}
@-webkit-keyframes rollOut {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)
}
}@keyframes rollOut {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg);
	transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)
}
}.rollOut {
	-webkit-animation-name:rollOut;
	animation-name:rollOut
}
@-webkit-keyframes rubberBand {
	0% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
30% {
	-webkit-transform:scale3d(1.25,.75,1);
	transform:scale3d(1.25,.75,1)
}
40% {
	-webkit-transform:scale3d(0.75,1.25,1);
	transform:scale3d(0.75,1.25,1)
}
50% {
	-webkit-transform:scale3d(1.15,.85,1);
	transform:scale3d(1.15,.85,1)
}
65% {
	-webkit-transform:scale3d(.95,1.05,1);
	transform:scale3d(.95,1.05,1)
}
75% {
	-webkit-transform:scale3d(1.05,.95,1);
	transform:scale3d(1.05,.95,1)
}
100% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}@keyframes rubberBand {
	0% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
30% {
	-webkit-transform:scale3d(1.25,.75,1);
	transform:scale3d(1.25,.75,1)
}
40% {
	-webkit-transform:scale3d(0.75,1.25,1);
	transform:scale3d(0.75,1.25,1)
}
50% {
	-webkit-transform:scale3d(1.15,.85,1);
	transform:scale3d(1.15,.85,1)
}
65% {
	-webkit-transform:scale3d(.95,1.05,1);
	transform:scale3d(.95,1.05,1)
}
75% {
	-webkit-transform:scale3d(1.05,.95,1);
	transform:scale3d(1.05,.95,1)
}
100% {
	-webkit-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1)
}
}@-webkit-keyframes lightSpeedOut {
	0% {
	opacity:1
}
100% {
	-webkit-transform:translate3d(100%,0,0) skewX(30deg);
	transform:translate3d(100%,0,0) skewX(30deg);
	opacity:0
}
}@keyframes lightSpeedOut {
	0% {
	opacity:1
}
100% {
	-webkit-transform:translate3d(100%,0,0) skewX(30deg);
	transform:translate3d(100%,0,0) skewX(30deg);
	opacity:0
}
}.lightSpeedOut {
	-webkit-animation-name:lightSpeedOut;
	animation-name:lightSpeedOut;
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in
}
.rubberBand {
	-webkit-animation-name:rubberBand;
	animation-name:rubberBand
}
@-webkit-keyframes heartbeat {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
50% {
	-webkit-transform:scale(1.5);
	transform:scale(1.5)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}@keyframes heartbeat {
	0% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
50% {
	-webkit-transform:scale(1.5);
	transform:scale(1.5)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}.heartbeat {
	-webkit-animation-name:heartbeat;
	animation-name:heartbeat
}
@-webkit-keyframes flipOutY {
	0% {
	-webkit-transform:perspective(400px);
	transform:perspective(400px)
}
30% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,-15deg);
	transform:perspective(400px) rotate3d(0,1,0,-15deg);
	opacity:1
}
100% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);
	transform:perspective(400px) rotate3d(0,1,0,90deg);
	opacity:0
}
}@keyframes flipOutY {
	0% {
	-webkit-transform:perspective(400px);
	transform:perspective(400px)
}
30% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,-15deg);
	transform:perspective(400px) rotate3d(0,1,0,-15deg);
	opacity:1
}
100% {
	-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);
	transform:perspective(400px) rotate3d(0,1,0,90deg);
	opacity:0
}
}.flipOutY {
	-webkit-backface-visibility:visible!important;
	backface-visibility:visible!important;
	-webkit-animation-name:flipOutY;
	animation-name:flipOutY;
	-webkit-animation-duration:.75s;
	animation-duration:.75s
}